form {
    display: flex;
    width: 100%;
}

input {
    flex: 1;
    margin-left: 50px;
    margin-right: 10px;
    height: 30px;
    font-weight: bold;
}

button {
    margin-right: 50px;
    height: 35px;
    background: green;
    color: white;
    font-weight: bold;
}